<ion-content [fullscreen]="true" class="ion-content">
  <div class="background-image">
  
  <ion-grid class="ion-grid">
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-lg="4" offset-lg="4">
        <div class="ion-text-center">
          <ion-button  vertical="bottom" class="categorie-button" (click)="navigateToCategories()">
            Categorie
          </ion-button>
          <ion-button vertical="bottom"  fill="outline" class="admin-button" (click)="navigateToAuth()">
            Admine
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>







